@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Opgave: En webside til at evaluere et produkt</h1>
    <p>
I denne opgave skal du lave en web-applikation, der kan bruges til at evaluere et produkt. Brugeren skal kunne indtaste sit navn, navnet på et produkt og så give produktet en karakter fra 1-10.<br /><br />

Du skal lave projektet som en .NET Core 2.0 projekt - ligesom kryds og bolle-spillet i kapitel 4.<br /><br />

<ul>
<li>Du behøver ikke at bruge Middleware</li>
<li>
Du behøver ikke at bruge bootstrap og andre tredjeparts biblioteker fra Bower</li>
</ul>
Opgaven skal afleveres. Formålet er at du skal have rutine med at lave .NET-projekter.<br /><br />

Har du spørgsmål undervejs, så brug endelig forummet.</p>
</div>
